$ancho: 100%;
$anchosec: 90%;
$his: 40%;
$his2: 50%;
$sec1: #F0F3F4;
$sec2: #FFFFFF;
$text1: #6b717f;
$text2: #fff;
$font: 'Noto Sans SC', sans-serif;
$font-thin:100;
$font-light:300;
$font-regular:400;
$font-bold:700;
$font-extra-bold:800;
$nueva-sec: 150px;
$b1: #1D7FA7;
$b1tex: #FFFFFF;
$cont: 95%;
$menucolor: #F6F6F6;

